﻿@{
    ViewData["Title"] = "About us";
}
<div>
    <h1 style="background-color: #f0f0f0; color: black; display: inline-block; padding: 7px; border-radius: 10px;">@ViewData["Title"]</h1>
</div>

<div>
<p style="background-color: #000000; padding: 10px; display: inline-block;">At Pursify, we're all about bags, wallets, and class.<br>Think of us as your personal style squad, here to make sure your accessories game is on point without breaking the bank.<br>From keeping your cash cozy to hauling your essentials in style, we've got you covered.<br>So, let's purse-onalize your look and bag those compliments together!</p>
</div>