﻿@{
    ViewData["Title"] = "Home Page";
}


<body style="background-image: url('back1.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">

<div class="text-center">
    <h1 style="color: white; font-family: Roboto; font-weight:700; font-size: 95px; text-align: center;">Pursify</h1>
        <p style="color: white; font-family: Roboto; font-weight:300; font-size: 35px; text-align: center;">Welcome to pursify.</p>
</div>

<div class="text-center">
    <img src="~/logo1.png" alt="Your Image" height="300" width="300" style="padding: 10px;">
</div>

</body>


<div class="text-center">
    <a asp-area="" asp-controller="Purses" asp-action="Index" style="font-family: Roboto; margin-top: 20px; font-weight:450; background: linear-gradient(45deg, #CA3434, #FF8181); padding: 7px 15px; border-radius: 20px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: background 0.3s;" class="btn btn-custom text-white">View inventory</a>
</div>