﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
    <h1 style="background-color: #f0f0f0; color: black; display: inline-block; padding: 7px; border-radius: 10px;">@ViewData["Title"]</h1>
</div>

<div>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="background-color: #000000; padding: 10px; display: inline-block; color: white; text-decoration: none">Click here to view the complete pursify privacy policy.</a>
</div>